# ----------------------------------------------------------------------
# A-Team 360° Studio - Configurações de Roteamento e Redirecionamento
# ----------------------------------------------------------------------

RewriteEngine On

# Evita loop de redirecionamento se a requisição já for para login.html
RewriteCond %{REQUEST_URI} !login\.html$ [NC]

# Caso 1: Se acessar a raiz (ex: /hml/) sem nenhum parâmetro, redireciona para home.html
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^$ home.html [R=301,L]

# Caso 2: Se acessar index.html diretamente e sem nenhum parâmetro, redireciona para home.html
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^index\.html$ home.html [R=301,L]
